bcrypt==4.1.2
beautifulsoup4==4.10.0
bs4==0.0.1
coloredlogs==15.0.1
config==0.5.1
configparser==6.0.0
decorator==5.1.1
extra-streamlit-components==0.1.60
Faker==22.5.1
favicon==0.7.0
filelock==3.6.0
Flask==3.0.1
Flask-Bcrypt==1.0.1
Flask-Email==1.4.4
Flask-Login==0.6.3
flask-marshmallow==0.14.0
Flask-Migrate==4.0.5
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==3.1.1
gunicorn==20.1.0
json5==0.9.6
jsonify==0.5
jsonschema==4.4.0
lxml==4.7.1
marshmallow==3.14.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysql-connector-python==8.0.28
mysqlclient==2.2.0
networkx==2.8.3
nltk==3.7
panda==0.3.1
pandas==1.4.1
pandas-datareader==0.10.0
pathlib==1.0.1
plotly==5.8.2
pprintpp==0.4.0
PyMySQL==1.0.2
python-decouple==3.8
python-dotenv==1.0.0
regex==2022.6.2
requests==2.27.1
selenium==3.11.0
SQLAlchemy==2.0.25
sqlparse==0.4.2
st-annotated-text==4.0.1
stack-data==0.1.4
streamlit==1.30.0
streamlit-authenticator==0.3.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.3.6
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-option-menu==0.3.6
streamlit-tags==1.2.8
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
stripe==8.0.0
ta==0.10.2
tldextract==5.1.1
toml==0.10.2
tqdm==4.64.0
utils==1.0.2
validators==0.19.0
Werkzeug==3.0.1

